header.header.dark
    .container-fluid
        nav.header__nav(class='wow fadeIn')
            .header__links
                a(href='aboutUs.html').header__links_item О нас
                a(href='services.html').header__links_item Услуги
                a(href='contacts.html').header__links_item Контакты
                .header__multi
                    a(href='#').header__multi_item.active Ua
                    a(href='#').header__multi_item Ru
                    a(href='#').header__multi_item En
                select.header__multi_select
                    option
                        a(href='#').header__multi_item Ua
                    option
                        a(href='#').header__multi_item Ru
                    option
                        a(href='#').header__multi_item En
            .header__logo
                a(href='index.html')
                    img(src='./src/images/icons/logoDarkBig.svg' alt='logo')
            .header__contacts
                a(href='https://www.google.com.ua/maps/place/%D1%83%D0%BB.+%D0%9A%D0%B0%D0%BC%D0%B0%D0%BD%D0%B8%D0%BD%D0%B0,+16,+%D0%9E%D0%B4%D0%B5%D1%81%D1%81%D0%B0,' + '+%D0%9E%D0%B4%D0%B5%D1%81%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+65000/@46.4244934,30.7592987,16.96z/data=!4m5!3m4!1s0x40c6347833445ad3:0xac1130b8391b8dd6!8m2!3d46.4245232!4d30.7614454?hl=ru' target="_blank").header__contacts_map
                    img(src='/images/icons/IconMapGold.svg' alt='Map')
                    span Ул. Каманина,16
                a(href="tel:+380961234567").header__contacts_tel
                    img(src='/images/icons/IconTelGold.svg' alt='Phone')
                    span +38 (096) 123 45 67
                .burger(id='open')
                    span
                    span
        .modal__container
            .header__nav
                .header__links
                    select.header__multi_select
                        option
                            a(href='#').header__multi_item Ua
                        option
                            a(href='#').header__multi_item Ru
                        option
                            a(href='#').header__multi_item En
                .header__logo
                    a(href='index.html')
                        img(src='./src/images/icons/logoDark.svg' alt='logo')
                .header__contacts
                    a(href="tel:+380961234567").header__contacts_tel
                        img(src='/images/icons/IconTelDark.svg' alt='Phone')
                    .burger.active(id='close')
                        span
                        span
            .modal__links
                a(href='aboutUs.html').modal__link.title О нас
                a(href='services.html').modal__link.title Услуги
                a(href='contacts.html').modal__link.title Контакты
                .footer__contacts_item
                    a(href='https://www.google.com.ua/maps/place/%D1%83%D0%BB.+%D0%9A%D0%B0%D0%BC%D0%B0%D0%BD%D0%B8%D0%BD%D0%B0,+16,+%D0%9E%D0%B4%D0%B5%D1%81%D1%81%D0%B0,' + '+%D0%9E%D0%B4%D0%B5%D1%81%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+65000/@46.4244934,30.7592987,16.96z/data=!4m5!3m4!1s0x40c6347833445ad3:0xac1130b8391b8dd6!8m2!3d46.4245232!4d30.7614454?hl=ru' target="_blank").street.modal__street Ул. Каманина,16
