.footer {

  &__map {
    iframe {
      height: 600px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 80px;
  }
  &__reservation {
    max-width: 504px;
    width: 100%;
    p {
      font-size: 18px;
      line-height: 32px;
      margin: 30px 0 40px 0;
    }
    &_btn {
      padding: 20px 40px;
    }
  }

  &__contacts {
    margin-right: 145px;

    &_title {
      margin-bottom: 30px;
    }

    &_item {
      margin-bottom: 22px;
      padding-left: 32px;
      font-size: 16px;
      line-height: 19px;

      a {
        position: relative;
        color: $titleColor;
        text-decoration: none;
        transition: .2s;
        &:hover {
          color: $mainColor;
        }

        &.street::before {
          content: '';
          background-image: url('/images/icons/IconMapGold.svg');
          position: absolute;
          height: 20px;
          width: 14px;
          left: -32px;
        }

        &.tel::before {
          content: '';
          background-image: url('/images/icons/IconTelGold.svg');
          position: absolute;
          height: 20px;
          width: 20px;
          left: -32px;
        }

        &.mail::before {
          content: '';
          background-image: url('/images/icons/IconMailGold.svg');
          position: absolute;
          height: 16px;
          width: 20px;
          left: -32px;
          bottom: 1px;
        }

      }
      &:last-child {
        display: flex;
        padding: 0;
        .inst {
          margin-right: 15px;
        }
      }
    }
  }
  &__copiryght {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 92px;
    border-top: 1px solid #CBCBCB;
    font-size: 18px;
    line-height: 32px;
    .cmdX {
      margin-right: 208px;
      color: $textColor;
      text-decoration: none;
      transition: .2s;
      &:hover {
        color: $mainColor;
      }
    }
  }
}




@media screen and (max-width: 992px) {
  .footer {
    &__map {
      iframe {
        height: 450px;
      }
    }
    &__copiryght {
      flex-direction: column;
      justify-content: center;

      .cmdX {
        margin: 0;
      }
    }

    .footer__contacts {
      margin-right: 0;
    }

    &__content {
      margin-top: 30px;

      .footer__reservation {
        margin-bottom: 40px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    &__map {
      iframe {
        height: 350px;
      }
    }
    &__copiryght {
      .cmdX {
      }
    }

    &__content {

      .footer__reservation {
        width: 60%;
        &_title {
          font-size: 28px;
          line-height: 35px;
        }
        .footer__subtitle {
          font-size: 14px;
          line-height: 24px;
          margin: 15px 0 20px 0;
        }

        &_btn {
          padding: 13px 30px;
        }
      }

      .footer__contacts_title {
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 20px;
      }
    }
  }
}


@media screen and (max-width: 635px) {
  .footer__content {
    flex-direction: column;
  }
}


@media screen and (max-width: 576px) {
  .footer__content {
    .footer__reservation {
      width: 100%;
    }
  }

  .footer__content {
    margin-bottom: 0;
  }



  .footer__copiryght {
    text-align: center;
    height: 75px;

    p {
      font-size: 12px;
      line-height: 14px;
    }
    .copyright {
      margin-bottom: 10px;
    }
  }
}