ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}


//CUSTOM////////////////////

body {
  font-family: 'Lato', sans-serif;
  color: $textColor;
  background-color: $bgColor;
}

section {
  margin-bottom: 200px;
}

.btn-custom {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  border: none;
  cursor: pointer;
  font-weight: 700;
  color: #ffff;
  text-transform: uppercase;
  background-color: $mainColor;
  background-image: -webkit-linear-gradient(90deg, $hoverColor 50%, transparent 50%);
  background-image: linear-gradient(90deg, $hoverColor 50%, transparent 50%);
  background-position: 100%;
  background-size: 200%;
  -webkit-transition: background 200ms ease-in-out;
  transition: background 200ms ease-in-out;

  &:hover {
    background-position: 0;
    color: #FFFFFF;
    text-decoration: #FFFFFF;
  }
}

.container-fluid {
  max-width: 1920px;
  width: 100%;
  padding: 0 100px;
  margin: 0 auto;
}

.containerForm {
  max-width: 1290px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.container-slider {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-family: Anglecia Pro Dsp, serif;
  color: $titleColor;
  font-size: 80px;
  line-height: 88px;
  letter-spacing: -0.02em;
}

.titleMin {
  font-family: Anglecia Pro Dsp, serif;
  color: $titleColor;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.02em;
}

.subtitle {
  font-size: 18px;
  line-height: 32px;
}


//FORM///////////////
.formBlock {
  display: flex;
  justify-content: space-between;

  &__text {
    max-width: 611px;
    width: 100%;
    color: $titleColor;
  }

  &__title {
    color: $titleColor;
  }

  &__subtitle {
    margin-top: 40px;
    max-width: 566px;
    width: 100%;
  }

  .form {
    width: 100%;
    max-width: 405px;
    background-color: transparent;
    border: 1px solid $borderColor;

    .datepicker-input,
    .guests-input {
      position: relative;

      img {
        position: absolute;
        right: 0;
        top: 22px;
        cursor: pointer;
      }

      .guests-placeholder {
        input:focus ~ .guests-label,
        input:not(:focus):valid ~ .guests-label {
          top: 21px;
          bottom: 10px;
          left: 20px;
          opacity: 1;
        }

        .input {
          color: $titleColor;
          width: 200px;
          height: 35px;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        .guests-label {
          font-size: 18px;
          line-height: 22px;
          font-weight: 700;
          position: absolute;
          pointer-events: none;
          left: 20px;
          top: 18px;
          transition: 0.2s ease all;
        }
      }
    }

    label {
      display: block;
      font-size: 14px;
      line-height: 17px;
      cursor: pointer;
      color: rgba($titleColor, .4);
      margin: 0;
    }

    input {
      background-color: transparent;
      width: 100%;
      border: none;
      border-bottom: 1px solid #D0D0D0;
      font-size: 18px;
      line-height: 22px;
      font-weight: 700;
      padding-bottom: 12px;
      padding-top: 5px;
      margin-bottom: 30px;
      outline: none;
      cursor: pointer;
    }

    &__button {
      margin-top: 10px;
      width: 100%;
      height: 48px;
    }
  }
}


//ROOMS//////////////////////
.rooms {


  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;

    &_link {
      position: relative;
      margin-right: 55px;

      a {
        color: $mainColor;
        text-decoration: none;
        transition: all 0.3s;

        &:hover {
          color: $hoverColor
        }
      }

      &::after,
      &::before {
        content: '';
        position: absolute;
        height: 1px;
        width: 40px;
        background-color: $mainColor;
        top: 12px;
      }

      &::before {
        left: -55px;
      }

      &::after {
        right: -55px;
      }
    }
  }

  .lastOrder {
    display: none;
    position: relative;
    margin-left: 55px;
    margin-top: 30px;

    a {
      color: $mainColor;
      text-decoration: none;
      transition: all 0.3s;

      &:hover {
        color: $hoverColor
      }
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      height: 1px;
      width: 40px;
      background-color: $mainColor;
      top: 12px;
    }

    &::before {
      left: -55px;
    }

    &::after {
      left: 116px;
    }
  }

  &__slider {
    margin: 0 -100px;
  }

  &__slider_items {
    cursor: pointer;

  }

  &__slider_item {
    margin: 0 25px;
    outline: none;
  }

  &__slider_img {
    position: relative;
    outline: none;
    a img {
      height: 345px;
      width: 100%;
      object-fit: cover;
    }
    .slick-arrows {
      width: 40px;
      height: 40px;
      background-color: rgba(#fff, 0.8);
      border: none;
      bottom: 35%;
      transform: translateY(-50%);
      transition: all 0.3s;

      img {
        margin: 0 auto;
      }

      &:hover {
        background-color: rgba(#fff, 1);

      }
    }

    .btn-prev {
      position: absolute;
      left: 20px;

      z-index: 3;

      img {
        transform: scaleX(-1);
      }
    }

    .btn-next {
      position: absolute;
      right: 20px;
      z-index: 3;
    }

    .slick-dots {
      position: absolute;
      bottom: 0;
      list-style: none;
      display: block;
      text-align: center;
      padding: 0;

      margin-bottom: 15px;
      width: 100%;

      li {
        position: relative;
        display: inline-block;
        height: 6px;
        width: 6px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;

        button {
          border: 0;
          background: transparent;
          display: block;
          height: 6px;
          width: 6px;
          outline: none;
          line-height: 0;
          font-size: 0;
          color: transparent;
          padding: 5px;

          cursor: pointer;

          &:hover, &:focus {
            outline: none;

            &:before {
              opacity: 1;
            }
          }

          &:before {
            background-color: rgba(#fff, 1);
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            content: $slick-dot-character;
            width: 6px;
            height: 6px;
            line-height: 20px;
            text-align: center;
            opacity: 0.6;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }
        }

        &.slick-active button:before {
          opacity: 1;
        }
      }
    }

  }


  &__slider_title {
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: $titleColor;
    margin: 30px 0 15px 0;
    text-transform: uppercase;
  }

  &__slider_subtitle {
    min-height: 100px;
    font-size: 14px;
    line-height: 24px;
    max-width: 420px;
    margin-bottom: 15px;
  }

  &__slider_price {
    color: $mainColor;
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 700;

  }
}

/////////DATEPICKER///////////////////

.ui-datepicker {
  &-title {
    font-weight: 400;
    color: #898785;
  }
  .ui-state-default {
    background-color: transparent;
    border: none;
    text-align: center;
  }

  .ui-state-active {
    background-color: $mainColor;
    color: #ffffff;
  }

  .ui-datepicker-calendar {
    thead {
      tr {
        th {
          color: rgba(#000000, 0.45);
        }
      }
    }
  }

  .ui-datepicker-header {
    background-color: transparent;
    border: none;

    .ui-datepicker-prev {
      width: 20px;
      height: 20px;
      left: 50px;
      top: 32px;
      cursor: pointer;

      &:hover {
        background-color: transparent;
        border: none;
      }
    }

    .ui-datepicker-next {
      width: 20px;
      height: 20px;
      transform: scaleX(-1);
      right: 50px;
      top: 32px;
      cursor: pointer;

      &:hover {
        background-color: transparent;
        border: none;
      }
    }

    .ui-icon {
      background: url('/images/icons/calendarArrow.svg') no-repeat;
    }


    &::before {
      content: 'Выберете дату заезда';
      margin-left: 45px;
    }
  }
}


//POPUP////////////////////
.popup {
  padding: 0 20px;
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(31, 31, 31, 0.6);
  backdrop-filter: blur(16px);
  display: none;
  &__block {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    max-width: 850px;
    max-height: 584px;
    width: 100%;
    padding: 20px;
    position: relative;

    &_close {
      position: absolute;
      right: 30px;
      top: 30px;
      width: 24px;
      height: 24px;
      display: block;
      cursor: pointer;
      span {
        pointer-events: none;
        display: block;
        width: 32px;
        height: 2px;
        background-color: $mainColor;

        &:first-child {
          transform: rotate(-45deg);
          margin-top: 10px;
          margin-left: -4px;
        }

        &:last-child {
          transform: rotate(45deg);
          margin-top: -2px;
          margin-left: -4px;
        }
      }
    }

    &_form {
      margin: 70px 196px 80px 196px;
      text-align: center;
    }

    &_title {
      font-size: 50px;
      line-height: 68px;
    }

    &_subtitle {
      margin: 20px 0 50px 0;
    }

    &_btn {
      padding-top: 15px;
      padding-bottom: 16px;
      width: 100%;
    }

    &_input {
      text-align: start;

      &:last-child {
        margin-top: 30px;
      }

      label {
        display: block;
        font-size: 14px;
        line-height: 17px;
        cursor: pointer;
        color: rgba($titleColor, .4);
        margin: 0;
      }

      input,
      textarea {
        background-color: transparent;
        width: 100%;
        border: none;
        border-bottom: 1px solid #D0D0D0;
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
        padding-bottom: 12px;
        padding-top: 5px;
        margin-bottom: 30px;
        outline: none;
        cursor: pointer;
      }

      textarea {
        height: 40px;
      }
    }
  }
}


.lockScroll {
  overflow-y: hidden;
}


@media screen and (max-width: 1450px) {
  .container-fluid {
    padding: 0 60px;
  }
  .rooms__slider {
    margin: 0 -60px;
  }

}

@media screen and (max-width: 1360px) {
  .container-fluid {
    max-width: 1290px;
    padding: 0 20px;
  }
  .rooms__slider {
    margin: 0 -20px;
    &_img a img {
      height: 270px;
    }
  }
}


@media screen and (max-width: 1200px) {

  section {
    margin-bottom: 150px;
  }

  .title {
    font-size: 60px;
    line-height: 66px;
  }


  .formBlock {
    .form {
      padding: 40px;
    }
  }

  .rooms {
    &__slider_title {
      font-size: 15px;
      margin-top: 15px;
      margin-bottom: 10px;
    }

    &__slider_subtitle {
      min-height: 120px;
    }
  }
}

@media screen and (max-width: 992px) {


  .title {
    font-size: 40px;
    line-height: 44px;
  }

  .subtitle {
    font-size: 14px;
    line-height: 24px;
  }

  .formBlock {
    flex-direction: column;
    align-items: center;

    .form {
      padding: 0;
    }

    &__text {
      max-width: 520px;
    }

    &__subtitle {
      margin: 20px 0 30px 0;
    }
  }

  .rooms {
    &__slider_title {
      font-size: 14px;
      margin: 10px 0;
    }

    &__slider_subtitle {
      min-height: 120px;
    }
  }

  .popup {
    &__block {
      max-width: 700px;
      &_form {
        margin: 50px 150px 50px;
      }
    }
  }
}


@media screen and (max-width: 768px) {

  section {
    margin-bottom: 100px;
  }

  .formBlock {
    .form {
      input {
        margin-bottom: 20px;
      }

      &__button {
        margin-top: -5px;
      }
    }
  }

  .rooms {
    &__slider_subtitle {
      font-size: 12px;
      line-height: 20px;
      min-height: 100px;
    }

    &__slider_title {
      line-height: 20px;
    }
  }
}


@media screen and (max-width: 635px) {
  section {
    margin-bottom: 50px;
  }

  .rooms {
    &__slider {
      margin-left: -60px;
    }
    &__slider_item {
      margin: 0 10px 0 10px;
    }

    &__slider_subtitle {
      min-height: 75px;
    }

    &__slider_title {
      line-height: 20px;
    }
  }

  .rooms__header {
    margin-bottom: 20px;
  }

  .popup {
    &__block {

      &_close {
        top: -40px;
        right: 0;
        span {
          background-color: #ffffff;
        }
      }

      &_form {
        margin: 10px 20px 10px;
      }
      &_title {
        font-size: 32px;
        line-height: 40px;
      }
      &_subtitle {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }

}


@media screen and (max-width: 576px) {

  .rooms {
    .lastOrder {
      display: block;
    }

    .rooms__header_link {
      display: none;
    }
  }
}

@media screen and (max-width: 390px) {
  .rooms {
    &__slider_subtitle {
      min-height: 100px;
    }

    &__slider_title {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-height: 600px) {
  .popup__block {
    overflow: scroll;
    height: 100%;
  }
 .popup__block_form {
   margin-top: 0;
 }

}