extends includes/layout

block variables
   - var title = 'Villa Venezia';





append header
    include includes/header


append content
    main
        section.about-us
            .container-fluid
                .about-us__content
                    .about-us__content_img(class='wow fadeInLeft')
                        img(src='./src/images/icons/aboutUs/Villa.jpg' alt='about us photo')
                    .about-us__content_text(class='wow fadeIn' data-wow-delay='.2s')
                        h3.about-us__content_title.title О нас
                        .about-us__content_description.subtitle
                            p Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и бесплатная охраняемая парковка. В отеле работают крытый и открытый бассейны, а также имеется гидромассажная ванна под открытым небом.
                            p Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и бесплатная охраняемая парковка. В отеле работают крытый и открытый бассейны, а также имеется гидромассажная ванна под открытым небом.


        section.rooms
            .container-fluid
                .rooms__header(class='wow fadeInUp')
                    h3.rooms__header_title.title   Номера
                .rooms__slider
                    .rooms__slider_items
                        .rooms__slider_item(class='wow fadeIn' data-wow-delay='.1s')
                            .rooms__slider_img
                                a(href='./src/images/icons/rooms/room1.jpg' data-caption='ЛЮКС 2-Х КОМНАТНЫЙ' data-fancybox="two-room suite")
                                    img(src='./src/images/icons/rooms/room1.jpg' alt='ЛЮКС 2-Х КОМНАТНЫЙ')
                                a(href='./src/images/icons/rooms/room1.jpg' data-caption='ЛЮКС 2-Х КОМНАТНЫЙ' data-fancybox="two-room suite")
                                    img(src='./src/images/icons/rooms/room1.jpg' alt='ЛЮКС 2-Х КОМНАТНЫЙ')
                                a(href='./src/images/icons/rooms/room1.jpg' data-caption='ЛЮКС 2-Х КОМНАТНЫЙ' data-fancybox="two-room suite")
                                    img(src='./src/images/icons/rooms/room1.jpg' alt='ЛЮКС 2-Х КОМНАТНЫЙ')
                            h3.rooms__slider_title ЛЮКС 2-Х КОМНАТНЫЙ
                            p.rooms__slider_subtitle Большая двуспальная кровать - Диван-кровать - Кондиционер - Гидромассажная ванна - Биде - Отдельная гостинная с обеденным столом - Рабочее место - Балкон...
                            span.rooms__slider_price  3270 грн
                        .rooms__slider_item(class='wow fadeIn' data-wow-delay='.2s')
                            .rooms__slider_img
                                a(href='./src/images/icons/rooms/room2.jpg' data-caption='ЛЮКС' data-fancybox="suite")
                                    img(src='./src/images/icons/rooms/room2.jpg' alt='ЛЮКС')
                                a(href='./src/images/icons/rooms/room2.jpg' data-caption='ЛЮКС' data-fancybox="suite")
                                    img(src='./src/images/icons/rooms/room2.jpg' alt='ЛЮКС')
                                a(href='./src/images/icons/rooms/room2.jpg' data-caption='ЛЮКС' data-fancybox="suite")
                                    img(src='./src/images/icons/rooms/room2.jpg' alt='ЛЮКС')
                            h3.rooms__slider_title ЛЮКС
                            p.rooms__slider_subtitle Двуспальная кровать - Кондиционер - Душевая кабина - Балкон с видом на море - Завтрак включен
                            span.rooms__slider_price  3270 грн
                        .rooms__slider_item(class='wow fadeIn' data-wow-delay='.3s')
                            .rooms__slider_img
                                a(href='./src/images/icons/rooms/room3.jpg' data-caption='ПОЛУЛЮКС' data-fancybox="Junior suite")
                                    img(src='./src/images/icons/rooms/room3.jpg' alt='ПОЛУЛЮКС')
                                a(href='./src/images/icons/rooms/room3.jpg' data-caption='ПОЛУЛЮКС' data-fancybox="Junior suite")
                                    img(src='./src/images/icons/rooms/room3.jpg' alt='ПОЛУЛЮКС')
                                a(href='./src/images/icons/rooms/room3.jpg' data-caption='ПОЛУЛЮКС' data-fancybox="Junior suite")
                                    img(src='./src/images/icons/rooms/room3.jpg' alt='ПОЛУЛЮКС')
                                a(href='./src/images/icons/rooms/room3.jpg' data-caption='ПОЛУЛЮКС' data-fancybox="Junior suite")
                                    img(src='./src/images/icons/rooms/room3.jpg' alt='ПОЛУЛЮКС')
                            h3.rooms__slider_title ПОЛУЛЮКС
                            p.rooms__slider_subtitle Двуспальная кровать - Кондиционер - Джакузи или душевая кабина - Вид на море или город - Завтрак включен
                            span.rooms__slider_price  3270 грн
                        .rooms__slider_item(class='wow fadeIn' data-wow-delay='.4s')
                            .rooms__slider_img
                                a(href='./src/images/icons/rooms/room1.jpg' data-caption='УЛУЧШЕННЫЙ 2-Х КОМНАТНЫЙ' data-fancybox="superior two-room")
                                    img(src='./src/images/icons/rooms/room1.jpg' alt='УЛУЧШЕННЫЙ 2-Х КОМНАТНЫЙ')
                                a(href='./src/images/icons/rooms/room1.jpg' data-caption='УЛУЧШЕННЫЙ 2-Х КОМНАТНЫЙ' data-fancybox="superior two-room")
                                    img(src='./src/images/icons/rooms/room1.jpg' alt='УЛУЧШЕННЫЙ 2-Х КОМНАТНЫЙ')
                                a(href='./src/images/icons/rooms/room1.jpg' data-caption='УЛУЧШЕННЫЙ 2-Х КОМНАТНЫЙ' data-fancybox="superior two-room")
                                    img(src='./src/images/icons/rooms/room1.jpg' alt='УЛУЧШЕННЫЙ 2-Х КОМНАТНЫЙ')
                                a(href='./src/images/icons/rooms/room1.jpg' data-caption='УЛУЧШЕННЫЙ 2-Х КОМНАТНЫЙ' data-fancybox="superior two-room")
                                    img(src='./src/images/icons/rooms/room1.jpg' alt='УЛУЧШЕННЫЙ 2-Х КОМНАТНЫЙ')
                                a(href='./src/images/icons/rooms/room1.jpg' data-caption='УЛУЧШЕННЫЙ 2-Х КОМНАТНЫЙ' data-fancybox="superior two-room")
                                    img(src='./src/images/icons/rooms/room1.jpg' alt='УЛУЧШЕННЫЙ 2-Х КОМНАТНЫЙ')
                            h3.rooms__slider_title УЛУЧШЕННЫЙ 2-Х КОМНАТНЫЙ
                            p.rooms__slider_subtitle Большая двуспальная кровать - Диван-кровать - Кондиционер - Гидромассажная ванна - Биде - Отдельная гостинная с обеденным столом - Рабочее место - Балкон...
                            span.rooms__slider_price  3270 грн
        section
            .containerForm
                .aboutUs__form.formBlock
                    .formBlock__text(class='wow fadeInLeft')
                        h1.formBlock__title.title Мини-отель в живописном уголке Одессы
                        p.formBlock__subtitle.subtitle The ultimate sophisticate and arbiter, The St. Regis Venice unfolds a new era of glamour at the city’s finest address on the Grand Canal.
                    form(action='#').form(class='wow fadeInRight')
                        .datepicker-input
                            label(for='arrival') Заезд
                                img(src='./src/images/icons/calendar.svg')
                            input(type='text' id='arrival' name='arrival')
                        .datepicker-input
                            label(for='departure') Выезд
                                img(src='./src/images/icons/calendar.svg')
                            input(type='text' id='departure' name='departure')
                        .guests-input
                            label(for='guests') Количество гостей
                                img(src='./src/images/icons/Guests.svg')
                            .guests-placeholder
                                input(type='number' placeholder='число' id='guests' value='1' name='guests' inputmode="numeric" onkeyup="this.value = this.value.replace(/[A-Za-zА-Яа-яЁё]/,'');")
                                //span.guests-label гость
                        button.btn-custom.form__button ИСКАТЬ

append footer
    include includes/footer


