extends includes/layout

block variables
   - var title = 'Villa Venezia';




append header
    include includes/header


append content
    main


append footer
    footer.footer.inverse
        .container-fluid
            .footer__map
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13082.97417722155!2d30.738997036803784!3d46.42181263767702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13" +
                ".1!3m3!1m2!1s0x40c6347833445ad3%3A0xac1130b8391b8dd6!2z0YPQuy4g0JrQsNC80LDQvdC40L3QsCwgMTYsINCe0LTQtdGB0YHQsCwg0J7QtNC10YHRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNjUwMDA!5e0!3m2!1sru!2sua!4v1620735369161!5m2!1sru!2sua" width="100%"
                    style="border:0;" allowfullscreen="" loading="lazy")
            .footer__content
                .footer__reservation(class='wow fadeInLeft')
                    h3.footer__reservation_title.titleMin Уютный мини-отель
                    p.footer__subtitle Отель расположен в курортной зоне Одессы — Аркадии. Улица Дерибасовская, Потёмкинская лестница, а также Музей Пушкина находятся в 6 км.
                    button.btn-custom.footer__reservation_btn.open-popupForm Забронировать
                .footer__contacts
                    h3.footer__contacts_title.titleMin(class='wow fadeInRight' data-wow-delay='.1s') Контакты
                    ul.footer__contacts_items
                        li.footer__contacts_item(class='wow fadeInRight' data-wow-delay='.2s')
                            a(href='https://www.google.com.ua/maps/place/%D1%83%D0%BB.+%D0%9A%D0%B0%D0%BC%D0%B0%D0%BD%D0%B8%D0%BD%D0%B0,+16,+%D0%9E%D0%B4%D0%B5%D1%81%D1%81%D0%B0,' +
                            '+%D0%9E%D0%B4%D0%B5%D1%81%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+65000/@46.4244934,30.7592987,16.96z/data=!4m5!3m4!1s0x40c6347833445ad3:0xac1130b8391b8dd6!8m2!3d46.4245232!4d30.7614454?hl=ru' target="_blank").street Ул. Каманина,16
                        li.footer__contacts_item(class='wow fadeInRight' data-wow-delay='.3s')
                            a(href='tel:+380961234567').tel +38 (096) 123 45 67
                        li.footer__contacts_item(class='wow fadeInRight' data-wow-delay='.4s')
                            a(href='tel:+380482346934').tel +38 (048) 234 69 34
                        li.footer__contacts_item(class='wow fadeInRight' data-wow-delay='.5s')
                            a(href='mailto:venice.hot@gmail.com').mail venice.hot@gmail.com
                        li.footer__contacts_item(class='wow fadeInRight' data-wow-delay='.6s')
                            a(href='https://instagram.com/villavenezia_villaneapol_hotel?utm_medium=copy_link' target="_blank").inst
                                img(src='./src/images/icons/IconInstGold.svg')
                            a(href='#' target="_blank").fb
                                img(src='./src/images/icons/IconFbGold.svg')
            .footer__copiryght(class='wow flipInX' data-wow-delay='.2s')
                p.copyright Copyright © 2021 villa-venezia.com.ua. All rights reserved.
                p
                    a(href="https://comnd-x.com/" target="_blank").cmdX by Command+X
        .popup#formPopup
            .popup__block
                .popup__block_close.close-popup
                    span
                    span
                .popup__block_form.formBlock
                    form(action='#').form
                        .datepicker-input
                            label(for='arrivalPopup') Заезд
                                img(src='./src/images/icons/calendar.svg')
                            input(type='text' id='arrivalPopup' name='arrival')
                        .datepicker-input
                            label(for='departurePopup') Выезд
                                img(src='./src/images/icons/calendar.svg')
                            input(type='text' id='departurePopup' name='departure' )
                        .guests-input
                            label(for='guestsPopup') Количество гостей
                                img(src='./src/images/icons/Guests.svg')
                            .guests-placeholder
                                input(type='number' placeholder='число' id='guestsPopup' value='1' name='guests' inputmode="numeric" onkeyup="this.value = this.value.replace(/[A-Za-zА-Яа-яЁё]/,'');")
                        button.btn-custom.form__button ИСКАТЬ

