extends includes/layout

block variables
   - var title = 'Villa Venezia';



append header
    header.header.light#fixedHeader
        .container-fluid
            nav.header__nav
                .header__links
                    a(href='aboutUs.html').header__links_item О нас
                    a(href='services.html').header__links_item Услуги
                    a(href='contacts.html').header__links_item Контакты
                    .header__multi
                        a(href='#').header__multi_item.active Ua
                        a(href='#').header__multi_item Ru
                        a(href='#').header__multi_item En
                    select.header__multi_select#fixedMulti
                        option
                            a(href='#').header__multi_item Ua
                        option
                            a(href='#').header__multi_item Ru
                        option
                            a(href='#').header__multi_item En
                .header__logo
                    a(href='index.html')
                        img(src='./src/images/icons/logo.svg' alt='logo')#fixedImg
                .header__contacts
                    a(href='https://www.google.com.ua/maps/place/%D1%83%D0%BB.+%D0%9A%D0%B0%D0%BC%D0%B0%D0%BD%D0%B8%D0%BD%D0%B0,+16,+%D0%9E%D0%B4%D0%B5%D1%81%D1%81%D0%B0,' +
                    '+%D0%9E%D0%B4%D0%B5%D1%81%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+65000/@46.4244934,30.7592987,16.96z/data=!4m5!3m4!1s0x40c6347833445ad3:0xac1130b8391b8dd6!8m2!3d46.4245232!4d30.7614454?hl=ru' target="_blank").header__contacts_map
                        img(src='./src/images/icons/IconMap.svg' alt='Map')
                        span Ул. Каманина,16
                    a(href="tel:+380961234567").header__contacts_tel
                        img(src='./src/images/icons/IconTel.svg' alt='Phone')#fixedPhone
                        span +38 (096) 123 45 67
                    .burger(id='open')
                        span.fixed
                        span.fixed
            .modal__container
                .header__nav
                    .header__links
                        select.header__multi_select
                            option
                                a(href='#').header__multi_item Ua
                            option
                                a(href='#').header__multi_item Ru
                            option
                                a(href='#').header__multi_item En
                    .header__logo
                        a(href='index.html')
                            img(src='./src/images/icons/logoDark.svg' alt='logo')
                    .header__contacts
                        a(href="tel:+380961234567").header__contacts_tel
                            img(src='./src/images/icons/IconTelDark.svg' alt='Phone')
                        .burger.active(id='close')
                            span
                            span
                .modal__links
                    a(href='aboutUs.html').modal__link.title О нас
                    a(href='services.html').modal__link.title Услуги
                    a(href='contacts.html').modal__link.title Контакты
                    .footer__contacts_item
                        a(href='https://www.google.com.ua/maps/place/%D1%83%D0%BB.+%D0%9A%D0%B0%D0%BC%D0%B0%D0%BD%D0%B8%D0%BD%D0%B0,+16,+%D0%9E%D0%B4%D0%B5%D1%81%D1%81%D0%B0,' +
                        '+%D0%9E%D0%B4%D0%B5%D1%81%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+65000/@46.4244934,30.7592987,16.96z/data=!4m5!3m4!1s0x40c6347833445ad3:0xac1130b8391b8dd6!8m2!3d46.4245232!4d30.7614454?hl=ru' target="_blank").street.modal__street Ул. Каманина,16



append content
    main
        section.intro
            .containerForm
                .intro__formBlock.formBlock
                    .formBlock__text(class='wow fadeInLeft')
                        h1.formBlock__title.title Мини-отель в живописном уголке Одессы
                        p.formBlock__subtitle.subtitle The ultimate sophisticate and arbiter, The St. Regis Venice unfolds a new era of glamour at the city’s finest address on the Grand Canal.
                    form(action='#').form(class='wow fadeInRight')
                        .datepicker-input
                            label(for='arrival') Заезд
                                img(src='./src/images/icons/calendar.svg')
                            input(type='text' id='arrival' name='arrival')
                        .datepicker-input
                            label(for='departure') Выезд
                                img(src='./src/images/icons/calendar.svg')
                            input(type='text' id='departure' name='departure' )
                        .guests-input
                            label(for='guests') Количество гостей
                                img(src='./src/images/icons/Guests.svg')
                            .guests-placeholder
                                input(type='number' placeholder='число' id='guests' value='1' name='guests' inputmode="numeric" onkeyup="this.value = this.value.replace(/[A-Za-zА-Яа-яЁё]/,'');")
                                //span.guests-label гость
                        button.btn-custom.form__button ИСКАТЬ
        section.feelSun(class='wow fadeIn')
            .container-fluid
                .feelSun__content
                    .feelSun__content_header(class='wow fadeInUp')
                        h2.feelSun__content_title.title Почувствуйте #[br] тепло Одесского #[br] солнца в Вилле
                        .feelSun__content_subtitle
                            p.subtitle Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и бесплатная охраняемая парковка. В отеле работают крытый и открытый бассейны, а также имеется гидромассажная ванна под открытым небом.
                    .feelSun__content_firstImg
                        img(src='./src/images/icons/feelSun/item1.jpg')
                        .feelSun__content_secondImg(class='wow fadeInRight')
                            img(src='././src/images/icons/feelSun/item2.jpg')

        section.services
            .container-fluid
                h3.services__title.title(class='wow fadeInUp') Сервис и развлечения
                .services__items
                    .services__item(class='wow fadeIn' data-wow-delay='.1s')
                        .services__item_img
                            img(src='./src/images/icons/services/serv1.svg' alt='services')
                        .services__item_title
                            h3 Круглосуточный консьерж
                        .services__item_subtitle
                            p Отель “Вилла Венеция” находится в известнейшем курортном районе — Аркадия, всего в пяти минутах
                    .services__item(class='wow fadeIn' data-wow-delay='.2s')
                        .services__item_img
                            img(src='./src/images/icons/services/serv2.svg' alt='services')
                        .services__item_title
                            h3 Камера хранения багажа
                        .services__item_subtitle
                            p Отель “Вилла Венеция” находится в известнейшем курортном районе — Аркадия, всего в пяти минутах
                    .services__item(class='wow fadeIn' data-wow-delay='.3s')
                        .services__item_img
                            img(src='./src/images/icons/services/serv3.svg' alt='services')
                        .services__item_title
                            h3 Услуги прачечной
                        .services__item_subtitle
                            p Отель “Вилла Венеция” находится в известнейшем курортном районе — Аркадия, всего в пяти минутах
                    .services__item(class='wow fadeIn' data-wow-delay='.4s')
                        .services__item_img
                            img(src='./src/images/icons/services/serv4.svg' alt='services')
                        .services__item_title
                            h3 Трансфер по городу и области
                        .services__item_subtitle
                            p Отель “Вилла Венеция” находится в известнейшем курортном районе — Аркадия, всего в пяти минутах
                    .services__item(class='wow fadeIn' data-wow-delay='.5s')
                        .services__item_img
                            img(src='./src/images/icons/services/serv5.svg' alt='services')
                        .services__item_title
                            h3 Открытый и крытый бассейн
                        .services__item_subtitle
                            p Отель “Вилла Венеция” находится в известнейшем курортном районе — Аркадия, всего в пяти минутах
                    .services__item(class='wow fadeIn' data-wow-delay='.6s')
                        .services__item_img
                            img(src='./src/images/icons/services/serv6.svg' alt='services')
                        .services__item_title
                            h3 Предоставление экскурсий
                        .services__item_subtitle
                            p Отель “Вилла Венеция” находится в известнейшем курортном районе — Аркадия, всего в пяти минутах
                    .services__item(class='wow fadeIn' data-wow-delay='.7s')
                        .services__item_img
                            img(src='./src/images/icons/services/serv7.svg' alt='services')
                        .services__item_title
                            h3 Финская Сауна
                        .services__item_subtitle
                            p Отель “Вилла Венеция” находится в известнейшем курортном районе — Аркадия, всего в пяти минутах
                    .services__item(class='wow fadeIn' data-wow-delay='.8s')
                        .services__item_img
                            img(src='./src/images/icons/services/serv8.svg' alt='services')
                        .services__item_title
                            h3 Услуга массажиста
                        .services__item_subtitle
                            p Отель “Вилла Венеция” находится в известнейшем курортном районе — Аркадия, всего в пяти минутах
                .services__slick(class='wow fadeInLeft')
                    .services__item
                        .services__item_img
                            img(src='./src/images/icons/services/serv1.svg' alt='services')
                        .services__item_title
                            h3 Круглосуточный консьерж
                        .services__item_subtitle
                            p Отель “Вилла Венеция” находится в известнейшем курортном районе — Аркадия, всего в пяти минутах
                    .services__item
                        .services__item_img
                            img(src='./src/images/icons/services/serv2.svg' alt='services')
                        .services__item_title
                            h3 Камера хранения багажа
                        .services__item_subtitle
                            p Отель “Вилла Венеция” находится в известнейшем курортном районе — Аркадия, всего в пяти минутах
                    .services__item
                        .services__item_img
                            img(src='./src/images/icons/services/serv3.svg' alt='services')
                        .services__item_title
                            h3 Услуги прачечной
                        .services__item_subtitle
                            p Отель “Вилла Венеция” находится в известнейшем курортном районе — Аркадия, всего в пяти минутах
                    .services__item
                        .services__item_img
                            img(src='./src/images/icons/services/serv4.svg' alt='services')
                        .services__item_title
                            h3 Трансфер по городу и области
                        .services__item_subtitle
                            p Отель “Вилла Венеция” находится в известнейшем курортном районе — Аркадия, всего в пяти минутах
                    .services__item
                        .services__item_img
                            img(src='./src/images/icons/services/serv5.svg' alt='services')
                        .services__item_title
                            h3 Открытый и крытый бассейн
                        .services__item_subtitle
                            p Отель “Вилла Венеция” находится в известнейшем курортном районе — Аркадия, всего в пяти минутах
                    .services__item
                        .services__item_img
                            img(src='./src/images/icons/services/serv6.svg' alt='services')
                        .services__item_title
                            h3 Предоставление экскурсий
                        .services__item_subtitle
                            p Отель “Вилла Венеция” находится в известнейшем курортном районе — Аркадия, всего в пяти минутах
                    .services__item
                        .services__item_img
                            img(src='./src/images/icons/services/serv7.svg' alt='services')
                        .services__item_title
                            h3 Финская Сауна
                        .services__item_subtitle
                            p Отель “Вилла Венеция” находится в известнейшем курортном районе — Аркадия, всего в пяти минутах
                    .services__item
                        .services__item_img
                            img(src='./src/images/icons/services/serv8.svg' alt='services')
                        .services__item_title
                            h3 Услуга массажиста
                        .services__item_subtitle
                            p Отель “Вилла Венеция” находится в известнейшем курортном районе — Аркадия, всего в пяти минутах
        section.rooms
            .container-fluid
                .rooms__header(class='wow fadeInUp')
                    h3.rooms__header_title.title   Номера
                    .rooms__header_link
                        a(href='aboutUs.html') Смотреть все
                .rooms__slider
                    .rooms__slider_items
                        .rooms__slider_item(class='wow fadeIn' data-wow-delay='.1s')
                            .rooms__slider_img
                                a(href='./src/images/icons/rooms/room1.jpg' data-caption='ЛЮКС 2-Х КОМНАТНЫЙ' data-fancybox="two-room suite")
                                    img(src='./src/images/icons/rooms/room1.jpg' alt='ЛЮКС 2-Х КОМНАТНЫЙ')
                                a(href='./src/images/icons/rooms/room1.jpg' data-caption='ЛЮКС 2-Х КОМНАТНЫЙ' data-fancybox="two-room suite")
                                    img(src='./src/images/icons/rooms/room1.jpg' alt='ЛЮКС 2-Х КОМНАТНЫЙ')
                                a(href='./src/images/icons/rooms/room1.jpg' data-caption='ЛЮКС 2-Х КОМНАТНЫЙ' data-fancybox="two-room suite")
                                    img(src='./src/images/icons/rooms/room1.jpg' alt='ЛЮКС 2-Х КОМНАТНЫЙ')
                            h3.rooms__slider_title ЛЮКС 2-Х КОМНАТНЫЙ
                            p.rooms__slider_subtitle Большая двуспальная кровать - Диван-кровать - Кондиционер - Гидромассажная ванна - Биде - Отдельная гостинная с обеденным столом - Рабочее место - Балкон...
                            span.rooms__slider_price  3270 грн
                        .rooms__slider_item(class='wow fadeIn' data-wow-delay='.2s')
                            .rooms__slider_img
                                a(href='./src/images/icons/rooms/room2.jpg' data-caption='ЛЮКС' data-fancybox="suite")
                                    img(src='./src/images/icons/rooms/room2.jpg' alt='ЛЮКС')
                                a(href='./src/images/icons/rooms/room2.jpg' data-caption='ЛЮКС' data-fancybox="suite")
                                    img(src='./src/images/icons/rooms/room2.jpg' alt='ЛЮКС')
                                a(href='./src/images/icons/rooms/room2.jpg' data-caption='ЛЮКС' data-fancybox="suite")
                                    img(src='./src/images/icons/rooms/room2.jpg' alt='ЛЮКС')
                            h3.rooms__slider_title ЛЮКС
                            p.rooms__slider_subtitle Двуспальная кровать - Кондиционер - Душевая кабина - Балкон с видом на море - Завтрак включен
                            span.rooms__slider_price  3270 грн
                        .rooms__slider_item(class='wow fadeIn' data-wow-delay='.3s')
                            .rooms__slider_img
                                a(href='./src/images/icons/rooms/room3.jpg' data-caption='ПОЛУЛЮКС' data-fancybox="Junior suite")
                                    img(src='./src/images/icons/rooms/room3.jpg' alt='ПОЛУЛЮКС')
                                a(href='./src/images/icons/rooms/room3.jpg' data-caption='ПОЛУЛЮКС' data-fancybox="Junior suite")
                                    img(src='./src/images/icons/rooms/room3.jpg' alt='ПОЛУЛЮКС')
                                a(href='./src/images/icons/rooms/room3.jpg' data-caption='ПОЛУЛЮКС' data-fancybox="Junior suite")
                                    img(src='./src/images/icons/rooms/room3.jpg' alt='ПОЛУЛЮКС')
                                a(href='./src/images/icons/rooms/room3.jpg' data-caption='ПОЛУЛЮКС' data-fancybox="Junior suite")
                                    img(src='./src/images/icons/rooms/room3.jpg' alt='ПОЛУЛЮКС')
                            h3.rooms__slider_title ПОЛУЛЮКС
                            p.rooms__slider_subtitle Двуспальная кровать - Кондиционер - Джакузи или душевая кабина - Вид на море или город - Завтрак включен
                            span.rooms__slider_price  3270 грн
                        .rooms__slider_item(class='wow fadeIn' data-wow-delay='.4s')
                            .rooms__slider_img
                                a(href='./src/images/icons/rooms/room1.jpg' data-caption='УЛУЧШЕННЫЙ 2-Х КОМНАТНЫЙ' data-fancybox="superior two-room")
                                    img(src='./src/images/icons/rooms/room1.jpg' alt='УЛУЧШЕННЫЙ 2-Х КОМНАТНЫЙ')
                                a(href='./src/images/icons/rooms/room1.jpg' data-caption='УЛУЧШЕННЫЙ 2-Х КОМНАТНЫЙ' data-fancybox="superior two-room")
                                    img(src='./src/images/icons/rooms/room1.jpg' alt='УЛУЧШЕННЫЙ 2-Х КОМНАТНЫЙ')
                                a(href='./src/images/icons/rooms/room1.jpg' data-caption='УЛУЧШЕННЫЙ 2-Х КОМНАТНЫЙ' data-fancybox="superior two-room")
                                    img(src='./src/images/icons/rooms/room1.jpg' alt='УЛУЧШЕННЫЙ 2-Х КОМНАТНЫЙ')
                                a(href='./src/images/icons/rooms/room1.jpg' data-caption='УЛУЧШЕННЫЙ 2-Х КОМНАТНЫЙ' data-fancybox="superior two-room")
                                    img(src='./src/images/icons/rooms/room1.jpg' alt='УЛУЧШЕННЫЙ 2-Х КОМНАТНЫЙ')
                                a(href='./src/images/icons/rooms/room1.jpg' data-caption='УЛУЧШЕННЫЙ 2-Х КОМНАТНЫЙ' data-fancybox="superior two-room")
                                    img(src='./src/images/icons/rooms/room1.jpg' alt='УЛУЧШЕННЫЙ 2-Х КОМНАТНЫЙ')
                            h3.rooms__slider_title УЛУЧШЕННЫЙ 2-Х КОМНАТНЫЙ
                            p.rooms__slider_subtitle Большая двуспальная кровать - Диван-кровать - Кондиционер - Гидромассажная ванна - Биде - Отдельная гостинная с обеденным столом - Рабочее место - Балкон...
                            span.rooms__slider_price  3270 грн
                .lastOrder
                    a(href='aboutUs.html') Смотреть все
        section.infrastructure
            .container-fluid
                .infrastructure__content
                    h3.infrastructure__header_title.title(class='wow fadeIn' data-wow-delay='.1s') Инфраструктура
                    .infrastructure__header_subtitle(class='wow fadeIn' data-wow-delay='.2s')
                        p.subtitle Отель “Вилла Венеция” находится в известнейшем курортном районе — Аркадия, всего в пяти минутах ходьбы от пляжа. В непосредственной близости лучшие рестораны и ночные клубы города.
                    .infrastructure__content_img(class='wow fadeIn' data-wow-delay='.3s')
                        img(src='./src/images/icons/infastructure/img1.jpg' alt='pool')
                    .infrastructure__content_text(class='wow fadeIn' data-wow-delay='.4s')
                        .infrastructure__content_text-item
                            .infrastructure__item_header
                                h4.infrastructure__item_title.titleMin 5 минут
                                .infrastructure__item_subtitle
                                    p до пляжа и ночных клубов
                            .infrastructure__item_content
                                p.subtitle Всего 5 минут пешей ходьбы к морю. Рядом любимый пляж Одессы — “Аркадия”, а также оживленные ночные клубы, в том числе знаменитые «Ибица» и «Рай».
                        .infrastructure__content_text-item
                            .infrastructure__item_header
                                h4.infrastructure__item_title.titleMin 10 минут
                                .infrastructure__item_subtitle
                                    p до ж/д и автовокзала
                            .infrastructure__item_content
                                p.subtitle Железнодорожный вокзал и автовокзал расположены всего в 10-15 минутах езды на автомобиле.
                        .infrastructure__content_text-item
                            .infrastructure__item_header
                                h4.infrastructure__item_title.titleMin 15 минут
                                .infrastructure__item_subtitle
                                    p до центра города
                            .infrastructure__item_content
                                p.subtitle Отель расположен в курортной зоне Одессы — Аркадии. Улица Дерибасовская, Потёмкинская лестница, а также Музей Пушкина находятся в 6 км.
        section.reviews
            .container-fluid
                .reviews__header(class='wow fadeInUp')
                    h3.reviews__title.title Отзывы
                    button.reviews_btn.btn-custom.open-popup оставить отзыв
                .reviews__slider
                    .reviews__slider_item(class='wow fadeInUp' data-wow-delay='.1s')
                        h4.reviews__slider_name Щербаков Михаил
                        .reviews__slider_description Недалеко от пляжа и общественного транспорта, есть лифт, номера чистые, красивый вид из окон.Недалеко от пляжа и общественного транспорта, есть лифт, номера чистые, красивый вид из окон. Недалеко от пляжа и общественного транспорта, есть лифт, номера чистые, красивый вид из окон.
                        button.moreBtn
                    .reviews__slider_item(class='wow fadeInUp' data-wow-delay='.2s')
                        h4.reviews__slider_name Жукова Василиса
                        .reviews__slider_description Самый приятный отель за последние несколько лет. Услужливый персонал, прекрасный номер, вид на море. Отдохнул и телом, и душой!
                        button.moreBtn
                    .reviews__slider_item(class='wow fadeInUp' data-wow-delay='.3s')
                        h4.reviews__slider_name Зотова Ирина
                        .reviews__slider_description Расположение замечательное, близко к пляжу, чистота в номерах исключительная, персонал доброжелательный, комфортно.
                        button.moreBtn
                    .reviews__slider_item(class='wow fadeInUp' data-wow-delay='.4s')
                        h4.reviews__slider_name Максим Футорной
                        .reviews__slider_description Недалеко от пляжа и общественного транспорта, есть лифт, номера чистые, красивый вид из окон.
                        button.moreBtn
                button.reviews_btn.btn-custom.bottom.open-popup оставить отзыв
        .popup#reviewsPopup
            .popup__block
                .popup__block_close.close-popup
                    span
                    span
                form(action='#').popup__block_form
                    h3.popup__block_title.title Оставить отзыв
                    .popup__block_subtitle.subtitle
                        p Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа Аркадия на юге Одессы.
                    .popup__block_input
                        label(for='reviewsName') Фамилия, имя
                        input(type='text' id='reviewsName' placeholder='Андреев Андрей')
                    .popup__block_input
                        label(for='review') Отзыв
                        textarea(id='review' placeholder='Расскажите о нас')
                    button.popup__block_btn.btn-custom ОТПРАВИТЬ

append footer
    include includes/footer



