extends includes/layout

block variables
   - var title = 'Villa Venezia';



append header
    include includes/header


append content
    main
        .container-fluid
            .intro__images(class='wow fadeIn' data-wow-delay='.3s')
                .intro__images_item
                    img(src='./src/images/icons/feelSun/item1.jpg')
                .intro__images_item
                    img(src='./src/images/icons/feelSun/item2.jpg')

        section.services__header
            .container-fluid
                .services__header_box
                    .services__header_text
                        h2.services__title.title(class='wow fadeIn' data-wow-delay='.2s') Услуги
                        p.services__subtitle.subtitle(class='wow fadeIn' data-wow-delay='.4s') Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и бесплатная охраняемая парковка.  В отеле работают крытый и открытый бассейны, а также имеется гидромассажная ванна под открытым небом. Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и бесплатная охраняемая парковка. В отеле
                    button.services_button.btn-custom.open-popupForm(class='wow fadeIn' data-wow-delay='.3s') Забронировать

        .about-us.services__elements
            .container-fluid
                .about-us__content
                    .about-us__content_img(class='wow fadeInLeft')
                        img(src='./src/images/icons/aboutUs/Villa.jpg' alt='about us photo')
                    .about-us__content_text(class='wow fadeIn' data-wow-delay='.2s')
                        span.suptitle Бесплатно
                        h3.about-us__content_title.title WiFi по всей территории Отеля
                        .about-us__content_description.subtitle
                            p Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и бесплатная охраняемая парковка. В отеле работают крытый и открытый бассейны, а также имеется гидромассажная ванна под открытым небом.
                            p Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и бесплатная охраняемая парковка. В отеле работают крытый и открытый бассейны, а также имеется гидромассажная ванна под открытым небом.



        .about-us.services__elements.reverse
            .container-fluid
                .about-us__content
                    .about-us__content_img(class='wow fadeInRight')
                        img(src='./src/images/icons/aboutUs/Villa.jpg' alt='about us photo')
                    .about-us__content_text(class='wow fadeIn' data-wow-delay='.2s')
                        span.suptitle Бесплатно
                        h3.about-us__content_title.title Парковка на территории Отеля
                        .about-us__content_description.subtitle
                            p Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и бесплатная охраняемая парковка. В отеле работают крытый и открытый бассейны, а также имеется гидромассажная ванна под открытым небом.
                            p Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и бесплатная охраняемая парковка. В отеле работают крытый и открытый бассейны, а также имеется гидромассажная ванна под открытым небом.

        .about-us.services__elements
            .container-fluid
                .about-us__content
                    .about-us__content_img(class='wow fadeInLeft')
                        img(src='./src/images/icons/aboutUs/Villa.jpg' alt='about us photo')
                    .about-us__content_text(class='wow fadeIn' data-wow-delay='.2s')
                        h3.about-us__content_title.title Круглосуточная стойка регистрации
                        .about-us__content_description.subtitle
                            p Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и бесплатная охраняемая парковка. В отеле работают крытый и открытый бассейны, а также имеется гидромассажная ванна под открытым небом.
                            p Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и бесплатная охраняемая парковка. В отеле работают крытый и открытый бассейны, а также имеется гидромассажная ванна под открытым небом.

        .about-us.services__elements.reverse
            .container-fluid
                .about-us__content
                    .about-us__content_img(class='wow fadeInRight')
                        img(src='./src/images/icons/aboutUs/Villa.jpg' alt='about us photo')
                    .about-us__content_text(class='wow fadeIn' data-wow-delay='.2s')
                        h3.about-us__content_title.title Размещение детей младше 6 лет
                        .about-us__content_description.subtitle
                            p Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и бесплатная охраняемая парковка. В отеле работают крытый и открытый бассейны, а также имеется гидромассажная ванна под открытым небом.
                            p Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и бесплатная охраняемая парковка. В отеле работают крытый и открытый бассейны, а также имеется гидромассажная ванна под открытым небом.

        .about-us.services__elements
            .container-fluid
                .about-us__content
                    .about-us__content_img(class='wow fadeInLeft')
                        img(src='./src/images/icons/aboutUs/Villa.jpg' alt='about us photo')
                    .about-us__content_text(class='wow fadeIn' data-wow-delay='.2s')
                        h3.about-us__content_title.title Завтрак входит в стоимость номера
                        .about-us__content_description.subtitle
                            p Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и бесплатная охраняемая парковка. В отеле работают крытый и открытый бассейны, а также имеется гидромассажная ванна под открытым небом.
                            p Отель «Вилла Венеция» расположен в 5 минутах ходьбы от пляжа Аркадия на юге Одессы. В числе удобств бесплатный Wi-Fi и бесплатная охраняемая парковка. В отеле работают крытый и открытый бассейны, а также имеется гидромассажная ванна под открытым небом.


        section
            .containerForm
                .services__form.formBlock
                    .formBlock__text(class='wow fadeInLeft')
                        h1.formBlock__title.title Мини-отель в живописном уголке Одессы
                        p.formBlock__subtitle.subtitle The ultimate sophisticate and arbiter, The St. Regis Venice unfolds a new era of glamour at the city’s finest address on the Grand Canal.
                    form(action='#').form(class='wow fadeInRight')
                        .datepicker-input
                            label(for='arrival') Заезд
                                img(src='./src/images/icons/calendar.svg')
                            input(type='text' id='arrival' name='arrival')
                        .datepicker-input
                            label(for='departure') Выезд
                                img(src='./src/images/icons/calendar.svg')
                            input(type='text' id='departure' name='departure')
                        .guests-input
                            label(for='guests') Количество гостей
                                img(src='./src/images/icons/Guests.svg')
                            .guests-placeholder
                                input(type='number' placeholder='число' id='guests' value='1' name='guests' inputmode="numeric" onkeyup="this.value = this.value.replace(/[A-Za-zА-Яа-яЁё]/,'');")
                                //span.guests-label гость
                        button.btn-custom.form__button ИСКАТЬ
        .popup#formPopup
            .popup__block
                .popup__block_close.close-popup
                    span
                    span
                .popup__block_form.formBlock
                    form(action='#').form
                        .datepicker-input
                            label(for='arrivalPopup') Заезд
                                img(src='./src/images/icons/calendar.svg')
                            input(type='text' id='arrivalPopup' name='arrival')
                        .datepicker-input
                            label(for='departurePopup') Выезд
                                img(src='./src/images/icons/calendar.svg')
                            input(type='text' id='departurePopup' name='departure' )
                        .guests-input
                            label(for='guestsPopup') Количество гостей
                                img(src='./src/images/icons/Guests.svg')
                            .guests-placeholder
                                input(type='number' placeholder='число' id='guestsPopup' value='1' name='guests' inputmode="numeric" onkeyup="this.value = this.value.replace(/[A-Za-zА-Яа-яЁё]/,'');")
                        button.btn-custom.form__button ИСКАТЬ



append footer
    include includes/footer

