.header {
  z-index: 1;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $bgColor;
    z-index: 1000;
    transition: all .3s;
  }

  a {
    color: $titleColor;
    text-decoration: none;
  }

  &__nav {
    margin-top: 40px;
    line-height: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__logo {
    a img {
      margin-right: 40px;
    }
  }

  &__links {
    display: flex;

    &_item {
      &::after {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        margin-top: 2px;
        background-color: $titleColor;
        transform-origin: left;
        transform: scaleX(0);
        transition: 0.2s;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }

    &_item {
      margin-right: 60px;
    }
  }

  &__multi {
    display: flex;
    &_item {
      margin-right: 20px;
      text-transform: uppercase;

      &.active {
        color: $mainColor;
      }

      &::after {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        margin-top: 2px;
        background-color: $titleColor;
        transform-origin: left;
        transform: scaleX(0);
        transition: 0.2s;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }
  }

  &__multi_select {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: $titleColor;
    font-size: 16px;
    line-height: 19px;

    option {
      color: $titleColor;
    }
  }

  &__contacts {
    display: flex;

    a {
      &::after {
        position: absolute;
        bottom: -2px;
        left: 0;
        content: '';
        height: 1px;
        width: 100%;
        margin-top: 2px;
        background-color: $titleColor;
        transform-origin: left;
        transform: scaleX(0);
        transition: 0.2s;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }

    &_map {
      position: relative;
      display: flex;

      img {
        margin-right: 15px;
      }
    }

    &_tel {
      position: relative;
      display: flex;
      margin-left: 60px;

      img {
        margin-right: 15px;
      }
    }

    .burger {
      display: none;
      margin-left: 20px;
      width: 20px;
      height: 10px;
      top: 5px;
      position: relative;
      cursor: pointer;

      span {
        position: absolute;
        background-color: $titleColor;
        height: 1.5px;
        width: 100%;
        border-radius: 5px;
        transition: all .2s;

        &:first-child {
          top: 0;
        }

        &:last-child {
          bottom: 0;
        }
      }

      &:hover {
        span:first-child {
          top: 1px;
        }

        span:last-child {
          bottom: 1px;
        }
      }
    }
  }
}



.header.light {

  a {
    color: #fff;
  }

  .header__links_item::after,
  .header__multi_item::after,
  .header__contacts a::after {
    background-color: #fff;
  }

  .header__multi_item.active {
    color: #828282;
  }

  .header__multi_select {
    color: #ffffff;
  }

  .burger {
    span {
      background-color: #ffffff;
    }
  }
}




//MODAL//////////////////////
.lock {
  overflow-y: hidden;
}

.modal__container {
  position: fixed;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $bgColor;
  transition: all .5s;
  transform: translateY(-300%);



  .header__nav {
    display: flex;
    align-items: center;
    height: 40px;
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .header__contacts_tel:after {
    display: none;
  }

  .header__multi_select {
    color: $titleColor !important;
    top: 30px;
  }

  .burger.active {
    span {
      background-color: $titleColor !important;

      &:first-child {
        transform: rotate(45deg);
        top: 4px;
      }

      &:last-child {
        transform: rotate(-45deg);
        bottom: 4.5px;
      }
    }
    &:hover {
      span:first-child,
      span:last-child{
        width: 90%;
      }
    }
  }
  .modal__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 350px;
    transform: translateY(-50%);
    overflow: auto;

    .modal__link {
      margin-bottom: 50px;
      font-size: 40px;
      line-height: 42px;
      color: $titleColor;
    }
  }
  .modal__street {
    color: $titleColor !important;
    font-size: 20px;
    line-height: 24px;
    margin-top: 50px;

  }
}

@media screen and (max-width: 1440px) {
  .header__logo a img {
    margin-right: 0;
  }
  .header__links_item {
    margin-right: 40px;
  }
  .header__contacts_tel {
    margin-left: 40px;
  }
}


@media screen and (max-width: 1125px) {
  .header__contacts_tel {
    margin-left: 30px;
  }
  .header__links_item {
    margin-right: 30px;
  }
}


@media screen and (max-width: 992px) {
  .header__multi {
    display: none;
  }
  .header__multi_select {
    display: block;
  }
  .header__contacts_tel {
    span {
      display: none;
    }
  }
  .header__links_item {
    margin-right: 30px;
  }
  .header__contacts_tel {
    margin-left: 30px;
  }
  .header__logo a img {
    margin-right: 30px;
  }
}


@media screen and (max-width: 768px) {
  .header__logo {
    order: -1;
  }
  .header__contacts_map {
    display: none;
  }

  .header.dark {
    .header__contacts_tel {
      &::before {
        position: absolute;
        content: url("/images/icons/IconTelDark.svg");
        top: 0;
      }
    }
  }
}


@media screen and (max-width: 635px) {
  .header__links_item {
    display: none;
  }
  .header__multi_select {
    position: absolute;
    right: 118px;
    top: 12px;
  }
  .header__logo {
    width: 88px;
    height: 40px;
  }

  .header__nav {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .header__contacts .burger {
    display: block;
  }


  .header.dark {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: $bgColor;
    .header__nav {
      margin: 20px 0 20px;
    }
  }
}







