@import "animate.css";
@import "variables";
@import "header";
@import "footer";
@import "global";


//INTRO/////////////////

.intro {
  margin-top: -120px;
  min-height: 1024px;
  background: #1F1F1F url('/images/icons/intro/bg.jpg') no-repeat;
  background-size: cover;


  &__formBlock {
    //margin-bottom: 300px;
    padding-top: 297px;

    .formBlock__text {
      color: #ffffff;
    }

    .formBlock__title {
      color: #ffffff;
    }

    .form {
      background-color: #ffffff;
      border: none;
    }
  }

}

//Feel SUN/////////////////

.feelSun {

  &__content_header {
    padding-left: 100px;
    max-width: 740px;
    width: 100%;
  }


  &__content_subtitle {
    margin: 60px 0 100px 100px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      height: 1px;
      width: 80px;
      background-color: $mainColor;
      top: 10px;
      left: -100px;
    }
  }

  .feelSun__content {
    position: relative;
  }

  &__content_secondImg {
    position: absolute;
    right: 0;
    bottom: 200px;

  }
}

//services/////////////////

.services {

  &__title {
    margin-bottom: 60px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 50px;
  }

  &__slick {
    display: none;
    margin: 0 -10px;
    cursor: pointer;
  }

  &__item {
    margin: 0 10px;
    width: 100%;
    min-height: 220px;
    border: 1px solid $borderColor;
    padding: 20px;
    transition: all .4s;

    &_title {
      margin: 20px 0 12px 0;

      h3 {
        color: $titleColor;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
      }
    }

    &_subtitle {
      font-size: 14px;
      line-height: 24px;
    }
    &:hover {
      box-shadow: 0 0 5px rgba(#000000, 0.5);
      transform: scale(1.02);
    }
  }


}

//Infrastructure /////////////////

.infrastructure {
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 1fr;
    grid-gap: 50px;
  }

  &__header {
    margin-bottom: 80px;

    &_title {
      padding-right: 20px;
    }

    &_subtitle {
      max-width: 673px;
      width: 100%;
    }
  }


  &__content_img {
    margin-left: -100px;
    padding-right: 20px;
    img {
      height: 499px;
      object-fit: cover;
    }
  }

  &__content_text {
    &-item {
      max-width: 673px;
      width: 100%;

    }
  }

  &__item_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item_title {
    color: $mainColor;
  }

  &__item_subtitle {
    color: $titleColor;
    font-size: 20px;
    line-height: 24px;
  }

  &__item_content {
    margin: 10px 0 46px 0;
  }
}

//Reviews////////////////////

.reviews {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 72px;
  }

  .reviews_btn {
    padding: 20px 40px;
  }

  .bottom {
    display: none;
    margin-top: 20px;
  }

  &__slider {
    margin: 0 -100px;
    cursor: pointer;


    &_item {
      position: relative;
      min-height: 197px;
      border: 1px solid $borderColor;
      padding: 30px;
      margin: 0 25px;

      .moreBtn {
        position: relative;
        margin-top: 15px;
        margin-bottom: 0;
        border: none;
        background-color: inherit;
        color: $mainColor;
        font-size: 14px;
        line-height: 17px;
        padding: 0;
        outline: none;
        cursor: pointer;

        &::after {
          content: '';
          display: block;
          height: 1px;
          width: 100%;
          margin-top: 2px;
          background-color: $mainColor;
          transform-origin: left;
          transform: scaleX(0);
          transition: 0.2s;
        }

        &:hover::after {
          transform: scaleX(1);
        }

        .less_text{
          display: none;
        }

        &.less{
          .less_text{
            display: inline;
          }
          .more_text{
            display: none;
          }
        }

      }
      .active {
        display: block;
      }
    }

    &_name {
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      color: $titleColor;
    }

    &_description {
      min-height: 72px;
      margin-top: 12px;
      font-size: 14px;
      line-height: 24px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;

      p {
        height: auto;
      }

      &.active {
        display: block;
        overflow: visible;
      }
    }
  }
}

//ABOUT US///////////////////
.about-us {
  margin-top: 100px;

  .about-us__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 50px;

    &_img {
      margin-left: -100px;
      max-width: 755px;
      img {
        height: 704px;
        width: 100%;
        object-fit: cover;
      }
    }

    &_text {
      align-self: center;
      max-width: 630px;
      width: 100%;

      .suptitle {
        display: block;
        color: $mainColor;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 30px;
      }
    }

    &_description {
      position: relative;
      margin-left: 100px;

      &::before {
        content: '';
        position: absolute;
        height: 1px;
        width: 80px;
        background-color: $mainColor;
        left: -100px;
        top: 15px;
      }

      p {
        margin-top: 40px;
      }
    }
  }
}

//SERVICES ELEMENTS ///////////////

.services__elements {
  margin-top: 200px;
  .about-us__content {
    &_title {
      font-size: 60px;
      line-height: 68px;
    }
  }
}

.services__elements.reverse {
  .about-us__content {
    &_text {
      order: -1;
    }
    &_img {
      margin: 0 -100px 0 0;
    }
  }
}


//ABOUT US FORM /////////////////

.aboutUs__form {
  padding-top: 0;
}

//FOOTER MAP /////////

.footer.inverse {
  .container-fluid {
    display: flex;
    flex-direction: column;

    .footer__content {
      margin-top: 100px;
      order: -1;
    }

    .footer__map {
      margin-bottom: 30px;
    }
  }
}

//INTRO IMAGES

.intro__images {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 60px 0;

  &_item {
    width: 100%;

    &:first-child {
      margin-right: 60px;
    }

    img {
      height: 460px;
      object-fit: cover;
      width: 100%;
    }
  }
}

//SERVICES HEADER//////////////

.services__header {
  &_text {
    display: flex;
    justify-content: space-between;

    .services__subtitle {
      max-width: 830px;
      width: 100%;
      padding-left: 20px;
    }

    .services__title {
      max-width: 890px;
      width: 100%;
    }
  }

  &_box {
    position: relative;
  }

  .services_button {
    padding: 20px 40px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

//SERVICES////////////////

.services__form {
  margin-top: 200px;
}





@media screen and (max-width: 1450px) {
  .intro {
    background-position: left 40% top 100%;
  }
  .feelSun {
    &__content_secondImg {
      right: 0;
      bottom: 50px;
      width: 40%;
    }
  }
  .reviews__slider {
    margin: 0 -60px;
  }
}

@media screen and (max-width: 1350px) {
  .reviews__slider {
    margin: 0 -20px;
  }
}

@media screen and (max-width: 1200px) {
  .intro {
    min-height: 750px;
    background-position: left 40% top 100%;
  }

  .intro__formBlock {
    padding-top: 250px;
  }

  .services {
    &__items {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .feelSun {
    &__content_secondImg {
      right: 0;
      bottom: 50px;
      width: 40%;
    }

  }
  .intro__images {
    &_item:first-child {
      margin-right: 35px;
    }
  }

  .services__elements,
  .services__form{
    margin-top: 150px;
  }
}

@media screen and (max-width: 992px) {
  .intro {
    min-height: 800px;
    background-position: left 40% top 100%;
  }
  .intro__formBlock {
    padding-top: 200px;
  }


  .services {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .infrastructure {
    &__content {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      justify-items: center;
      grid-gap: 0;

      &_img {
        padding: 0;
        margin: 25px 0;
      }
    }

    &__header_title {
      align-self: end;
      padding: 0;
      margin-bottom: 20px;
    }

    &__item_content {
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 920px) {
  .about-us .about-us__content_description {
    &::before {
      top: 10px;
    }

    p {
      margin-top: 20px;
    }
  }
  .about-us__content_title {
    margin-top: 30px;
  }
  .about-us .about-us__content_img {
    img {
      height: 500px;
    }
  }

  .services__elements {
    .about-us__content {
      &_title {
        font-size: 40px;
        line-height: 44px;
      }
    }
  }
  .infrastructure__content_img {
    img {
      height: auto;
    }
  }
}

@media screen and (max-width: 850px) {
  .feelSun__content_header {
    padding: 0;
  }

  .about-us {
    margin-top: 50px;

    .about-us__content {
      grid-template-columns: 1fr;
      grid-column-gap: 50px;

      &_img {
        margin: 0;
        img {
          height: 350px;
        }
      }
    }
  }
  .about-us.services__elements.reverse {
    .about-us__content_img {
        margin: 0;
    }
  }
  .services__elements {
    .about-us__content {
      &_text {
        order: -1;
        margin-bottom: 30px;
      }
    }
  }

  .services__header {
    margin-bottom: 140px;
  }

}

@media screen and (max-width: 768px) {
  .reviews {
    &__header {
      button {
        padding: 13px 30px;
      }
    }
  }
  .intro__images {
    margin: 40px 0 60px 0;

    &_item {
      img {
        height: 300px;
      }
    }
  }
  .intro__images {
    margin-bottom: 30px;
    margin-left: -20px; margin-right: -20px;
    &_item:first-child {
      margin-right: 20px;
    }
  }
  .services__elements {
      margin-top: 100px;
    .about-us__content {
      &_img {
        margin: 0 -20px;
      }
    }
  }
  .services__form {
    margin-top: 100px;
  }

  .about-us.services__elements.reverse {
    .about-us__content_img {
      margin: 0 -20px;
    }
  }

  .services__header {
    &_text {
      flex-direction: column;

      .services__subtitle {
        padding: 0;
      }

      .services__title {
        margin-bottom: 15px;
      }
    }

    .services_button {
      padding: 13px 30px;
      bottom: -80px;
    }
  }



}

@media screen and (max-width: 635px) {
  .reviews__header {
    margin-bottom: 20px;
  }
  .reviews__slider {
    margin-left: -60px;
  }
  .services__title {
    margin-bottom: 20px;
  }
  .services__slick {
    margin-left: -60px;
  }

  .about-us__content {
    margin-top: 50px;

    &_text {
      .about-us__content_description {
        margin-left: 50px;

        &::before {
          width: 30px;
          left: -50px;
        }
      }
    }
  }

  .intro__images {
    margin-top: 100px;
    margin-bottom: 20px;
    &_item {
      img {
        height: 160px;
      }
    }
  }
  .services__elements,
  .services__form{
    margin-top: 50px;
  }
}

@media screen and (max-width: 576px) {
  .intro__formBlock {
    padding-top: 130px;
  }
  .services__items {
    display: none;

  }


  .services__item {
    min-height: 235px;
    margin: 0 15px 0 12px;
    &:hover {
      box-shadow: 0 0 5px rgba(#000000, 0.5);
      transform: scale(0.98);
    }
  }

  .services__slick {
    display: block;
  }


  .reviews__slider {
    &_item {
      margin: 0 10px;
    }

  }

  .reviews__header {
    .reviews_btn {
      display: none;
    }
  }

  .reviews_btn.bottom {
    display: block;
  }


  .infrastructure {
    &__content {
      grid-template-columns: 1fr;
    }

    .infrastructure__header_title {
      justify-self: start;
      font-size: 30px;
    }

    &__item_title {
      font-size: 24px;
      line-height: 30px;
    }

    &__item_subtitle {
      font-size: 14px;
      line-height: 17px;
    }
  }


  .feelSun {
    .feelSun__content_subtitle {
      margin-top: 20px;
      margin-left: 50px;

      &::before {
        content: '';
        width: 30px;
        left: -50px;
      }
    }
  }

  .about-us .about-us__content_img {
    img {
      height: 270px;
    }
  }

  .services__elements {
    .about-us__content {
      &_title {
        margin-top: 0;
      }
      .suptitle {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 15px;
      }
    }
  }



}


@media screen and (max-width: 380px) {
  .feelSun__content_title {
    font-size: 30px;
    line-height: 40px;
  }

  .services {
    &__item {
      min-height: 280px;
    }
  }
}

@media screen and (max-width: 340px) {
  .services {
    &__item {
      min-height: 330px;
    }
  }
}